:root {
  --tusur-blue: #3C388D;
  --tusur-white: #FFFFFF;
  --tusur-gray: #E0E0E0;
  --tusur-dark-gray: #333333;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: var(--tusur-gray);
}

.App {
  text-align: center;
  padding: 20px;
  background-color: var(--tusur-white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background-color: var(--tusur-blue);
  padding: 10px 20px;
  color: var(--tusur-white);
  display: flex;
  align-items: center;
}

.header img {
  height: 50px;
  margin-right: 20px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h2 {
  color: var(--tusur-dark-gray);
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  max-width: 600px;
  width: 100%;
}

li {
  padding: 10px;
  margin: 5px 0;
  background-color: var(--tusur-gray);
  border-radius: 4px;
  text-align: left;
}

footer {
  padding: 10px;
  background-color: var(--tusur-blue);
  color: var(--tusur-white);
  text-align: center;
}